<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Master's Student at Concordia University. Member of <a href="https://big-data-lab-team.github.io/">/bin team</a> </br>
       Working under <a href="https://users.encs.concordia.ca/~tglatard">Dr:Tristan Glatard</a> on <a href="https://github.com/big-data-lab-team/repro-tools">"Reproducibility of Human Connectome Project Preprocessing Pipelines across operating systems"</a> </br>
     </p>
</div><!--//summary-->
</section><!--//section-->
